* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", sans-serif;
}
    
html, body {
    width: 100%;
    height: 100%;
}
body{
    background-color:#0e0e0e;
}
#nav{
    background-color: rgb(12, 12, 12);
    padding:0 140px;
    display: flex;
    width: 100%;
    height: 44px;
    justify-content: space-between;
}   
#n-sib1 img{
    width: 25px;
    height: 25px;
}


#n-sib1{
    display: flex;
    gap: 14px;
    align-items: center;
}
#n-sib1 h1{
    font-size: 20px;
    color: white;
    font-weight: 590;
}
#n-sib1 a{
    color: #9d9d9d;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    transition:0.2s;
}
#n-sib1 a:hover{
    color:white;
}
#n-sib2 {
    padding-top: 5px;
    display: flex;
    justify-content: center;
    gap: 10px;
    
    
}
#n-sib2 img{
    width: 20px;

}

#n-sib2 input{
    width: 170px;
    height: 35px;
    border-radius:6px;
    background-color: transparent;
    padding-left: 7px;
    border: 1px solid #9d9d9d;
    color:white;
}
#btn1{
    width: 110px;
    height:35px ;
    border-radius: 6px;
    font-family: inherit;
    font-weight: 690;
    font-size: 15px;
    color:white;
    background-color: rgb(34, 117, 226);

}
#btn1:hover{
    background-color:rgba(12, 107, 231, 0.95);
}
#down:hover{
    background-color:rgba(12, 107, 231, 0.95);
}
p{
    margin : 40px 400px;
    color : #9d9d9d;
    font-family:"Helvetica Neue", sans-serif;
    font-weight: 600;
    font-size:13px;
}
p a{
    color:rgb(34, 117, 226);
    font-family:inherit;
}
#main{
    position: relative;
    width:1100px;
    height :470px;
    border-radius: 10px;
    /* background-color:rgb(24, 23, 23); */
    margin:50px 110px; 
    display:flex;
    justify-content:space-between;

}

/* #con1{ */
    /* width:330px; */
    /* height:470px; */
    /* background-color:darkblue; */

/* } */

#box{
    padding-left:2px;
    width:300px;
    height: 33px;
    border-radius:15px;
    /* background-color:aquamarine; */
    font-size: 12px;
    text-align:center;
    font-weight:900;
    display:flex;
    align-items:center;
    margin-bottom:25px;
    border: 0.1px solid #282828;
    background-color:rgba(29, 29, 29, 0.104); 
    color:#9d9d9d;   
}

#con1 h1{
    font-size:57px;
    font-weight:750;
    margin-bottom:22px;
    color:white;
}

#down{
    width:270px;
    height:50px;
    border-radius:9px;
    background-color:rgb(34, 117, 226);
    border:1px solid #9d9d9d;
    color:white;
    font-size:larger;
}
/* #con2 { */
    /* width:850px; */
    /* height:470px; */
    /* background-color:aqua */
/* } */

#con2 img{
    width:730px;
}

#below{
    margin-top:20px;
    width: 75%;
    font-size:15px;
    color:#9d9d9d;
    line-height:1.4;
    
}
#below a {
    color:rgb(34, 117, 226);    
}